@import '../../style/_variable.scss';

.booking-result {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $theme-color;
  color: white;

  &-img {
    margin-bottom: 40px;
  }

  &-title {
    font: normal normal 500 50px/74px Noto Sans, CJK TC;
    margin-bottom: 40px;
  }

  &-desc {
    font: normal normal 300 18px/30px Noto Sans, CJK TC;
  }
}
