.booking-success {
  width: 1100px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(56, 71, 11);
  color: white;

  > img {
    margin-bottom: 40px;
  }

  > h1 {
    font: normal normal 500 50px/74px Noto Sans, CJK TC;
    margin-bottom: 40px;
  }

  > p {
    font: normal normal 300 18px/30px Noto Sans, CJK TC;
  }
}
