@import '../../style/_variable.scss';

.user {
  &-info {
    background: $theme-color;
    display: flex;
    justify-content: center;
    font: normal normal normal 14px/20px Noto Sans, CJK TC;
    color: #ffffff;
  }

  &-container {
    width: 100%;
    height: 100%;
    padding: 50px 65px 20px;
  }

  &-label {
    display: block;
    margin: 7px 0 7px;
  }

  &-input {
    width: 100%;
    height: 38px;
    padding: 10px 8px 10px;
    text-align: left;
    display: block;
    box-sizing: border-box;
    font: normal normal 600 16px/22px Open Sans;
    color: #6a6a6a;
    background: white;
    border: none;
  }

  &-button {
    color: '';

    &::after {
      content: '▾';
      position: absolute;
      right: 0;
      color: $theme-color;
      font-size: 20px;
      transform: translateY(-1px);
    }
  }
}

.errorMessage {
  height: 16px;
  color: rgb(255, 1, 1);
}

.day {
  padding-bottom: 20px;
  border-bottom: rgba($theme-color-light, 0.5) 1px solid;
  color: $theme-color-light;
}

.price {
  text-align: right;
  color: white;
  margin-bottom: 20px;

  p:nth-child(2) {
    font: normal normal 600 26px/36px Open Sans;
  }
}

.remark {
  margin-top: 18px;
  text-align: center;
  font: normal normal normal 12px/18px Open Sans;
}

.calendar {
  position: absolute;
  z-index: 1;
  border: 1px solid black;
}

$calenderFadeTime: 300ms;

:global {
  .calender-fade-enter {
    opacity: 0;
  }

  .calender-fade-enter-active {
    opacity: 1;
    transition: opacity $calenderFadeTime linear;
  }

  .calender-fade-exit {
    opacity: 1;
  }

  .calender-fade-exit-active {
    opacity: 0;
    transition: opacity $calenderFadeTime linear;
  }
}
