.slideItems {
  display: flex;

  &__label {
    margin: 0 10px;
    cursor: pointer;
    display: flex;
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slideItems__control {
      background: white;
    }
  }

  &__control {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.1em solid white;
  }
}
