.slideItems {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;

  &-label {
    margin: 0 10px;
    cursor: pointer;
    display: flex;
  }

  &-input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slideItems-control {
      background: var(--color, white);
    }
  }

  &-control {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 0.1em solid var(--color, white);
  }
}

.light-green {
  --color: #38470b;
}
