
.sidebar {
  color: rgba(255, 255, 255, 1);
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  order: 1;
}

.info {
  justify-content: center;
}

.logo {
  align-self: flex-start;

  @media (max-width: 1200px) {
    margin: 20px 0;
  }
}

.title {
  width: 100%;
  margin-bottom: 20px;
  font-weight: normal;
}

.address,
.phone,
.email {
  font-weight: 100;
  margin-top: 15px;
}

.address {
  font-family: Noto Sans CJK TC;
}

.phone,
.email {
  font-family: Open Sans;
}
