.booking-page {
  width: 100%;
  min-height: 768px;
  position: absolute;
  z-index: 2;
  display: var(--display, none);
}

.show {
  --display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.booking-container {
  border: 1px solid rgb(56, 71, 11);
  box-sizing: border-box;
  width: 1100px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.exit {
  position: absolute;
  top: 23px;
  right: 35px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(56, 71, 11);
  border: none;
}

.container {
  width: 100%;
  height: 100%;
  padding: 50px 60px;
}

/******** userInfo ********/
.user {
  &-info {
    width: 40%;
    background: rgb(56, 71, 11);
    display: flex;
    justify-content: center;
    font: normal normal normal 14px/20px Noto Sans, CJK TC;
    color: #ffffff;
  }

  &-label {
    display: block;
    margin: 7px 0 7px;
  }

  &-input {
    width: 100%;
    height: 38px;
    padding: 10px 8px 10px;
    text-align: left;
    display: block;
    box-sizing: border-box;
    font: normal normal 600 16px/22px Open Sans;
    color: #6a6a6a;
    background: white;
    border: none;
  }

  &-button {
    color: '';

    &::after {
      content: '▾';
      position: absolute;
      right: 0;
      color: rgb(56, 71, 11);
      font-size: 20px;
      transform: translateY(-1px);
    }
  }
}

.errorMessage {
  height: 16px;
  color: rgb(255, 1, 1);
}

.day {
  padding-bottom: 20px;
  border-bottom: rgba(148, 156, 151, 0.5) 1px solid;
  color: rgb(148, 156, 151);
}

.price {
  text-align: right;
  color: white;
  margin-bottom: 20px;

  p:nth-child(2) {
    font: normal normal 600 26px/36px Open Sans;
  }
}

.remark {
  margin-top: 18px;
  text-align: center;
  font: normal normal normal 12px/18px Open Sans;
}

/******** roomInfo ********/
.room-info {
  width: 60%;
  padding: 51px 30px 26px;
  box-sizing: border-box;
  background: #ffffff;
  color: rgb(56, 71, 11);
}

.room-name {
  margin-bottom: 10px;
  font: normal normal bold 24px/33px Open Sans;
}

.room-description {
  font: normal normal normal 12px/26px Noto Sans, CJK TC;
  > li {
    margin: 5px 0;
  }
}

.second-title {
  margin-top: 12px;
  font: normal normal bold 16px/24px Noto Sans, CJK TC;
}

.flow-chart-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.flow-chart {
  width: 160px;
  height: 136px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.flow-chart-icon-bg {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(148, 156, 124) 0% 0% no-repeat padding-box;
}

.flow-chart-des {
  width: 100%;
  height: 65%;
  padding-top: 12px;
  text-align: center;
  font: normal normal normal 12px/18px Noto Sans, CJK TC;
  border: 1px solid rgb(148, 156, 151);
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
}

.room-name,
.second-title {
  display: flex;

  &::after {
    content: '';
    flex: 1 1;
    border-bottom: 1px solid rgb(148, 156, 151, 0.5);
    margin: auto auto auto 10px;
  }
}

.arrow {
  &::after {
    content: '';
    width: 7px;
    height: 20px;
    left: 187px;
    top: 15px;
    position: absolute;
    background: transparent url('../../../public/images/flow-chart-arrow.svg')
      0% 0% no-repeat padding-box;
  }
}

.calendar {
  position: relative;
  display: var(--calendar-display, none);

  :global {
    .rdrCalendarWrapper {
      position: absolute;
      left: 400px;
      top: -55px;
      z-index: 1;
    }
  }
}

.display {
  --calendar-display: true;
}
