.carousel,.carousel-items {
  display: flex;
  justify-content: center;
}

.carousel {
  width: 100%;
  align-items: end;
  padding-bottom: 20px;
}

.carousel-items {
  align-items: center;
  opacity: 0.6;

  &-label {
    margin: 0 10px;
    cursor: pointer;
    display: flex;
  }

  &-input {
    display: none;

    &:checked + .carousel-items-control {
      background: var(--color, white);
    }
  }

  &-control {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 0.1em solid var(--color, white);
  }
}

.light-green {
  --color: #38470b;
}

.pointer {
  cursor: pointer;
}

.home-page-img, .room-page-img {
  width: 100%;
  z-index: -2;
  top: 0;
  left: 0;
}

.home-page-img {
  height: 100vh;
  min-width: 576px;
  position: fixed;
}

.room-page-img {
  height: 100%;
  position: absolute;
  cursor: pointer;
}
