.submit-button {
  width: 100%;
  height: 44px;
  background-color: #38470b;
  color: white;
  font-weight: 600;
  border: var(--border, none);

  &:hover {
    background-color: rgb(148, 156, 151);
  }
}

.border-light {
  --border: 1px solid white;
}
