@import '../../style/_variable.scss';

.submit-button {
  width: 100%;
  height: 44px;
  background-color: $theme-color;
  color: white;
  font-weight: 600;
  border: var(--border, none);

  &:hover {
    background-color: $theme-color-light;
  }
}

.border-light {
  --border: 1px solid white;
}
