// Base

html {
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

footer {
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 100%;
  order: 3;

  @media (max-width: 630px) {
    width: 100%;
    margin-top: 30px;
  }
}

picture {
  line-height: 0;
}