// Sidebar

.sidebar {
  width: 25%;
  color: rgba(255, 255, 255, 1);
  font-weight: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  order: 1;

  @media (max-width: 630px) {
    width: 100%;
    margin-top: 15px;
    padding: 0 10%;
    justify-content: space-around;
    align-items: center;
  }
}

.info {
  align-self: flex-end;
  justify-content: center;
}

.logo {
  align-self: flex-start;
}

.title {
  width: 100%;
  margin-bottom: 20px;
  font-weight: normal;
  font-family: Noto Sans CJK TC;
}

.address,
.phone,
.email {
  width: 100%;
  font-weight: 100;
  margin-top: 15px;
}

.address {
  font-family: Noto Sans CJK TC;
}

.phone,
.email {
  font-family: Open Sans;
}