// HomePage
.home {
  width: 100%;
  height: 100vh;
  min-width: 576px;
  min-height: 400px;
  z-index: 0;
  position: relative;
  overflow: hidden;
  background-color: #000000;
  background-image: url(../../../public/images/house/photo-1523217582562-09d0def993a6.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 576px) {
    overflow: auto;
  }

  &::after {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__container {
    width: 90%;
    min-width: 360px;
    height: auto;
    min-height: 80vh;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

// Sidebar

.sidebar {
  width: 30%;
  border: 1px solid red;
  color: rgba(255, 255, 255, 1);
  font-weight: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  @media (max-width: 576px) {
    width: 100%;
  }
}

.info {
  width: 100%;
  align-self: flex-end;
  text-align: center;
}

.logo {
  align-self: flex-start;
}

.title {
  width: 100%;
  margin-bottom: 20px;
  font-weight: normal;
  font-family: Noto Sans CJK TC;
}

.address,
.phone,
.email {
  width: 100%;
  font-weight: 100;
  margin-top: 15px;
}

.address {
  font-family: Noto Sans CJK TC;
}

.phone,
.email {
  font-family: Open Sans;
}

// Gallery
.gallery {
  width: 70%;
  border: 1px solid red;

  @media (max-width: 576px) {
    width: 100%;
  }
}
